body {
  margin: 0;
  background: #f6fcff;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-section {
  background-color: #f6fcff;
}

svg:hover {
  cursor: pointer;
}